<!-- Bootstrap CSS v5.2.1 -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}" />

<nav class="navbar navbar-light bg-light text-black fixed-top">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="{{ url_for('mainpage') }}">{{ app_name }}</a>
    <!-- Offcanvas toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Offcanvas content -->
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-body flex fs-4 pt-4">
        <ul class="flex navbar-nav flex-grow-1 p-4">
          <!-- Check if credentials.json exists -->
          {% if exists_credentials %}
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{{ url_for('chatbot') }}"
              >Chat</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{{ url_for('calendar') }}"
              >Calendar</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{{ url_for('taskschedule') }}"
              >Schedule</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{{ url_for('education') }}"
              >Education</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{{ url_for('upload') }}"
              >PDF Summarizer</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{{ url_for('events') }}"
              >Events</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{{ url_for('logout') }}"
              >Logout</a
            >
          </li>
          <!-- Add other authenticated options here -->
          {% else %}
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{{ url_for('mainpage') }}"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{{ url_for('login') }}"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{{ url_for('signup') }}"
              >Signup</a
            >
          </li>
          {% endif %}
          <!-- Dropdown -->
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- Bootstrap JavaScript Libraries -->
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"
></script>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
  crossorigin="anonymous"
></script>
